/* /static/styles.css */

:root {
    --primary-color: #85C1E9;
    --secondary-color: #21618C;
    --background-color: #f0f0f0;
    --text-color: #333;
    --border-color: #ddd;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2, h3 {
    margin: 0 0 1rem;
}

h1 {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    color: #fff;
    background-color: var(--primary-color);
    padding: 0.5rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #fff;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container-left,
.container-right {
    width: 100%;
    padding: 1rem;
}

@media (min-width: 768px) {
    .container-left,
    .container-right {
        width: 48%;
    }
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #ff3920;
}

.review-list {
    list-style-type: none;
    padding: 0;
}

.review-list li {
    background-color: #f9f9f9;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.review-text-container {
    position: relative;
}

.review-text {
    margin: 0;
    overflow: hidden;
}

.short-review {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.toggle-review {
    cursor: pointer;
    color: var(--secondary-color);
    text-decoration: underline;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
}

.chart-container {
    margin-bottom: 2rem;
}

.d-none {
    display: none;
}